.widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widgets__header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.widgets__header > h2{
    font-size: 16px;
    font-weight: 400;
}

.windgets__article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.windgets__article:hover{
    background-color: whitesmoke;
}

.windgets__articleLeft{
    color: #0177b7;
    margin-right: 5px;
}

.windgets__articleLeft > .MuiSvgIcon-root{
    font-size: 15px;
}

.windgets__articleRight > h4{
    font-size: 14px;
}

.windgets__articleRight > p{
    font-size: 12px;
    color: gray;
}
